.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}
.generate-resp-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 95%;
}
.each-chat{
    /* background-color: none !important; */
    /* width: 150px; */
    height: 170px;
    border-radius: 20px !important;
    border: 1px solid gray;
}
.stack-chats{
    /* background-color: red !important; */
    max-width: 100%;
    display: grid !important;
    /* flex-direction: row !important; */
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)) !important;
    gap: 25px !important;
        /* Adjust the gap according to your design */

}
.card-while-expand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* background-color: red; */
    height: 100%;
    width: 100%;
    

}
.user-pic-in-expand{
    margin: 10px auto;
}
.user-name-in-expand{
    margin: 15px auto 15px auto;
}